:root {
  --deep-red: rgb(165, 42, 42, 100%);
  --very-deep-red: rgb(109, 30, 30);
  --left-index-padding: 5px;
}  

h1, h2, h3, h4 {
  font-family: 'Times New Roman', Times, serif;
}


h1.site-title {
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 36px;;
}

.container {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
  width: 90%;
}

nav, footer {
  color: #fff;
  text-align: center;
}

nav {
  background-color: #333;
  display: flex;
  flex-direction: column;
  padding: .4rem;
}

footer {
  margin-top: 4rem;
  padding: .4rem;
  background-color: rgb(207, 207, 207);
}

nav > a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.top-level-area {
  border-top: 1px solid black;
  /* border: 3px solid lightgreen;*/
}

.top-level-area h1 {
  font-size: 3rem;
  font-weight: 400;
  border-bottom: 7px solid var(--deep-red);
  padding-left: var(--left-index-padding);
  padding-bottom: 0rem;
}

.topic {
  /* border: 3px solid brown;*/
}

.topic h2 {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: .03rem;
  border-bottom: 3px solid var(--deep-red);
  padding-left: var(--left-index-padding);
}

.sub-section h3 {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: .02rem;
  margin-bottom: .2rem;
  padding-left: var(--left-index-padding);

}


.sub-sub-section {
  border: 4px solid rgb(231, 231, 231);
  padding: 1em;
  margin-bottom: 1rem;
  border-radius: .2rem;
}

.sub-sub-section ul {

  margin-block-start: 0em; 
}

.sub-sub-section li {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: .4em;
}

.sub-sub-section li a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

.sub-sub-section li a:hover {
  color: rgb(236, 33, 33);
  text-decoration: none;
}

.notice-area {
  margin-top: 2rem;
  padding-left: 1rem;
  margin-right: 0px;
  border: 1px dashed rgb(155, 155, 155);
  margin-bottom: 1rem;
  border-radius: 0.2rem;
}

.notice-area h1 {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: .03rem;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

.latest-holder {
  display: flex;
  flex-direction: column;
}

.latest-holder a {
  margin-right: 1rem;
  background-color: rgb(154, 154, 154);
  padding: 2rem;
  border: 1px solid rgb(142, 142, 142);
  border-radius: 2px;
  color: black;
  transition: background-color 0.7s ease;
  letter-spacing: .02rem;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  

} 

.latest-holder a:hover {
  transition: background-color 0.6s ease;
  background-color: var(--deep-red);
  border: 1px solid var(--very-deep-red);
  color: white;

}



/*      :not(.highlight pre )              */
code:not([class]) {
  padding: 0.2em;
  margin: 0;
  background-color: rgb(192, 212, 248);
  border-radius: 2px;
  border: 1px solid rgb(171, 171, 171);
}


.notes h1 {
  color: rgb(158, 8, 8);
  font-size: 3em;
  font-weight:500;
}

.notes h2 {
  color: rgb(212, 93, 8);
  font-size: 2em;
  font-weight: 400;
}

.notes h3 {
  color: rgb(223, 96, 27);
  font-size: 1.5em;
  font-weight:400;
}

.default-main h2{
  color: green;
}




@media only screen and (min-width: 821px)  {

  .container {
    width: 70%;
    max-width: 1000px;
  }

  nav {
    flex-direction: row;
   }

   .latest-holder {
    display: flex;
    flex-direction: row;
    align-items: stretch;

  }

  .latest-holder a {
    width: 33%;
    margin-right: 1rem;


  }



  .project-container {
    display: flex;
  }
  
  .project-container .project-list {
    width: 20%;
  }
  
  .project-container .project {
    flex: 1;
  }

  .sub-sub-section {
    column-count: 2;
  }

}